.navigation-header {
  width: 100%;
  background-color: #0277BD;
	padding: 20px 10px;
	margin-bottom: 10px;
	.app-title {
		font-size: 25px;
		font-weight: bold;
		color: #ffffff;
		margin-right: 30px;
	}
  .nav-link {
		color: #ffffff;
		margin-right: 10px;
		text-transform: uppercase;
		text-decoration: none;
  }
}